.profile
{
    position:fixed;
    padding:0px 20px;
    width:180px;
    top:0;
    left:0;
    z-index: 11;
    height:100%;
    background-color: azure;
}
.profile-sec {
    display:flex;
    margin-top:50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
   
}
.profile-sec i{
        font-size:60px;
        border: solid 0.3px;
        padding:20px 40px;
        border-radius: 100px;
}
.menu-option div{
    transition:0.4s;
}
.menu-option div:hover{
    transform: scale(1.04);
    transition:0.4s;
}
.profile-sec p{
    font-weight: bold;
}
.profile-btn,.card-btn{
    background-color:rgb(182, 66, 240);
    color:white;
    width:100%;
}
.profile-btn:hover,.card-btn:hover{
    border:solid black 0.5px;
}
.menu-option{
    margin-top:60px;
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.menu-option div{
    display:flex;
    font-size:20px;
    gap:10px;
    cursor:pointer
}



.detail-section{
    background-color:rgb(225, 225, 225);
    width:100%;
    padding-top:70px;
    display:flex;
    padding-left:170px;
    flex-direction: column;
}
.header-nav{
    position: fixed;
    margin-left:170px; 
    left:0;
    top:0px;
   height:60px;
   width:100%;
   overflow:hidden;
   display:flex;
   z-index: 10;
   padding:10px 4px;
   align-items: center;
   background-color: white;
   justify-content:space-around;
   flex:1 1 1;
   font-size:20px;
   
}
.header-nav div{
        display:flex;
        gap:15px;
        margin-right:60px;
        transition:0.4s;

}
.header-nav div i{
    cursor:pointer;
   
   

}
.icon{
    padding:3px;
    background-color: whitesmoke;  
}

.header-nav div i:hover{
    transform:scale(1.04);
    transition:0.4s;
}
.search-sec{

    background-color:whitesmoke;
    padding:5px 10px;
    border-radius: 20px;;
}
.search-sec input,.search-sec input:focus{
    border:none;
    outline:none;
    width:100%;
    background-color:whitesmoke;
    font-size:16px;
}

.body-section{
    padding-top:20px;
    border-radius: 10px;
    width:100%;
}
.quick-option{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:10px;
    row-gap: 15px;
    overflow:hidden;
}

.logout-btn{
    background-color: black;
    color:white;
    border:solid black 0.5px;
    width: 100%;
}
.logout-btn:hover{
    background-color: #333;
    color:white;
}

.logo-name{
    cursor:pointer
}

.logoname

{
    font-family: "Sankofa Display", "sans-serif"; 
     font-size:20px;
     font-weight:600;
     background: linear-gradient(267deg, #add550 0.36%, #5b0b42 100%);
     -webkit-background-clip: text;
      background-clip: text; 
      color:transparent;
}

.logoname-end
{
    background: linear-gradient(267deg, #Da7c25 0.36%, #2c2130 100%);
    -webkit-background-clip: text;
     background-clip: text; 
     font-size:60px;
     font-weight:600;
     font-family: "Sankofa Display", "sans-serif";
     color:transparent;
}